# Web3Formsキー
PUBLIC_WEB3FORMS_KEY=

# Vertex AI用の設定

# project_id
GCP_PROJECT_ID=
# client_email
GCP_CLIENT_EMAIL=
# private_key
GCP_PRIVATE_KEY=

# Dialogflow CX用の設定

# Location
DIALOGFLOW_LOCATION=
# Agent ID
DIALOGFLOW_AGENT_ID=